@font-face {
  font-family: GortonRegular;
  src: local('GortonDigitalRegular'),
  url('fonts/GortonDigitalRegular.otf') format("opentype");
}

html body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

::selection {
  background: pink;
  color: ivory;
}

body {
  background-color: ivory;
  font-family: 'GortonDigitalRegular', monospace;
}

/* Globals */

.header {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 1%;
}

h2 {
  font-size: 16pt;
  text-align: center;
  margin-bottom: 0;
}

.title {
  font-size: 20pt;
  width: auto;
  flex: auto;
}

.title a:hover {
  text-decoration: none;
}

.status {
  text-align: right;
  font-size: 16pt;
  width: fit-content;
  line-height: 1.5;
}

.light {
  height: 8px;
  width: 8px;
  background-color: orangered;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 7px 3px 0px;
}

.menu {
  padding: 0.5% 1%;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.header-audio {
  width: 100%;
  height: 25px;
}

.header-audio::-webkit-media-controls-panel {
  background-color: ivory;
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: black;
}

/* Homepage Stuff */

.card-container {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1%;
}

.homepage-card {
  width: 48%;
  height: 100%;
  border: 1px solid black;
  text-align: center;
  margin: 1% 0 3% 1%;
  position: relative;
}

.card-title {
  text-transform: uppercase;
  padding: 1%;
  text-align: center;
}

.card-copy {
  padding: 1%;
}

.card-audio {
  display: block;
  padding: 0 2%;
  width: 95%;
}

.card-audio::-webkit-media-controls-panel {
  background-color: ivory;
  border: 1px solid black;
}

.homepage-card img {
  width: 100%;
  margin: 0;
}

.homepage-card img:hover {
  filter: grayscale()
}

/* Project Pages */

.project-container {
  width: 100%;
  height: fit-content;
  display: inline-flex;
  flex-wrap: wrap;
}

.project-info {
  width: 49%;
  height: auto;
  border: 1px solid black;
  position: relative;
  margin: 3% 0 3% 1%;
}

.project-copy {
  padding: 1% 4%;
  text-align: justify;
  text-justify: inter-word;
}

.project-audio {
  display: block;
  padding: 2% 2%;
  width: 94%;
}

.project-audio::-webkit-media-controls-panel {
  background-color: ivory;
  border: 1px solid black;
}

.project-img {
  width: 49%;
  height: 100%;
  border: 1px solid black;
  text-align: center;
  position: relative;
  margin: 3% 0 3% 0%;
}

.project-img img {
  width: 100%;
}

/* Archive */

.archive-table {
  width: 98%;
  margin: 1%;
}

.archive-table table {
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
}

tr {
  outline: solid;
}

td {
  padding: 10px;
  width: 34%;
}

td:nth-child(2) {
  text-align: center;
}

td:last-child {
  text-align: right;
}

/* Feet */

.footer {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1%;
  width: 100%;
}

/* Mobile Views */

@media only screen and (max-width: 800px) {
  .title {
     font-size: 14pt;
  }

  .status {
     font-size: 10pt;
  }

  .menu {
     font-size: 10pt;
  }

  .homepage-card {
     width: 100%;
     margin: 3% 1% 3% 1%;
  }

  .card-audio {
     display: block;
     padding: 2% 2%;
     width: 94%;
  }

  .project-container {
     width: 100vw;
  }

  .project-info {
     width: 96%;
     margin: 3% 1% 3% 1%;
  }

  .project-img {
     width: 96%;
     margin: 3% 1% 3% 1%;
  }
}

@media only screen and (max-width: 400px) {
  .menu {
     font-size: 8pt;
  }
}


.blinking {
  animation: 2s blink ease infinite;
  
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}