{{ define "main" }}

<div class="project-container">
  <div class="project-info">

    <!-- Project Title -->
     <div class="card-title">{{ .Title }}<br>{{ .Params.dates }}</div>

     {{ with .Resources.GetMatch "track.*" }}
     <audio class="card-audio" controls>
      <source src="{{ .RelPermalink }}" type="{{ .MediaType.Type }}" type="audio/ogg">
      Your browser does not support the audio element.
   </audio>
   {{ end }}

   <div class="project-copy">
      {{ .Content }}
   </div>

  </div>

  <div class="project-img">
   {{ with .Resources.GetMatch "cover.*" }}
     <img src="{{ .RelPermalink }}">
     {{ end }}
  </div>

  {{ end }}