<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="keywords" content="Radio">
<meta name="description" content="NO SOAP, RADIO">
<link rel="shortcut icon" type="image/png" href="themes/nosoapradio-theme/">
<link rel="stylesheet" href="themes/nosoapradio-theme/assets/css/main.css">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
