<div class="header">
    <div class="title">
       <a href="/index">NO SOAP<br>RADIO</a>
    </div>

    <div class="status">
       <span class="light"></span>CURRENTLY BROADCASTING AT: A.M. 1660 kHz<br>
       NEAR: KNOXVILLE, TN, U.S.A.
    </div>
 </div>

 <div class="menu">
    <div><a href="/info">Information</a></div>
    <div><a href="/archive">Archive</a></div>
    <div><a href="/submissions">Submissions</a></div>
    <div><a href="https://www.instagram.com/nosoap.radiooooo" target="_blank">Instagram</a></div>
 </div>

 <div class="menu">
    <marquee scrollamount="5">NOW PLAYING: <span>NO SOAP RADIO #1 - FIELD OF ACTION/a></span></marquee>
    
    <audio class="header-audio" controls>
       <source src="https://stream.no-soap.net:443/stream" type="audio/mpeg">
          Your browser does not support the audio tag.
    </audio>
 </div>