{{ define "main" }}
<main>
    <!-- Box Containing all cards-->
    
    <span><h2>CURRENTLY:</h2></span>

    <div class="card-container">
        {{ range where .Site.RegularPages "Params.status" "eq" "live" }}

        <!-- Individual Cards Go Here-->

        <div class="homepage-card">
            <a href="{{ .Permalink }}">
               <div class="card-title">{{ .Title }}<br>{{ .Params.run }}</div>
                
               {{ with .Resources.GetMatch "cover.*" }}
               <img src="{{ .RelPermalink }}"/>
               {{ end }}
            </a>
   
            <audio class="card-audio" controls>
                {{ with .Resources.GetMatch "track.*" }}
               <source src="{{ .Permalink }}" type="{{ .MediaType.Type }}" type="audio/ogg">
               Your browser does not support the audio element.
               {{ end }}
            </audio>
   
        </div>


        {{ end }}
    </div>
</main>
{{ end }}